@using UserManagement.Services
@model UserManagement.Web.Models.Users.UserListViewModel

@{
    // decides which button is blue
    string Btn(UserFilter f) =>
        (Context.Request.Query["filter"].ToString() == f.ToString())
        ? "btn btn-primary"
        : "btn btn-default";
}

<h2>User List</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Forename</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Date of Birth</th>            @* added *@
                <th>Account Active</th>
                <th style="width: 1px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Forename
                    </td>
                    <td>
                        @item.Surname
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @* added *@
                        @item.DateOfBirth?.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @(item.IsActive ? "Yes" : "No")
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="btnToggleActions">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnToggleActions">
                                <li><a class="dropdown-item" href="#">View</a></li>
                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <div class="btn-group" role="group">
        <a asp-controller="Users" asp-action="List" asp-route-filter="All"
           class="@Btn(UserFilter.All)">Show All</a>
        <a asp-controller="Users" asp-action="List" asp-route-filter="ActiveOnly"
           class="@Btn(UserFilter.ActiveOnly)">Active Only</a>
        <a asp-controller="Users" asp-action="List" asp-route-filter="NonActive"
           class="@Btn(UserFilter.NonActive)">Non Active</a>
    </div>

    <a href="#" class="btn btn-primary float-end">
        Add User
    </a>
</div>
